<h2>Stats</h2>
<img src="<%= asset_url(@user.photo_url) %>" alt="Profile picture" class = "rounded img-thumbnail" style="max-height: 50px;"/>
<h4><%= @user.fullname %></h4>
<div class="user-profile-username col-12">@<%= @user.username %></div>
<h3><%= @user.opinions.count %></h3>