<div class="col-md-3 pt-3">
    <nav class="panel">
        <p class="panel-heading text-uppercase">Who to follow</p>

        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://bulma.io/images/placeholders/64x64.png" alt="" srcset="">
                    </figure>
                </div>
                <div class="media-content pl-2">
                    <div class="content">
                        <p>
                            <strong>John Doe</strong>
                            <small>@anonguy</small>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://bulma.io/images/placeholders/64x64.png" alt="" srcset="">
                    </figure>
                </div>
                <div class="media-content pl-2">
                    <div class="content">
                        <p>
                            <strong>John Doe</strong>
                            <small>@anonguy</small>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://bulma.io/images/placeholders/64x64.png" alt="" srcset="">
                    </figure>
                </div>
                <div class="media-content pl-2">
                    <div class="content">
                        <p>
                            <strong>John Doe</strong>
                            <small>@anonguy</small>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </nav>
    <%= render  "opinions/partials/trends" %>
</div>